<div fxFlex fxFill>
  <form [formGroup]="formGroup" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field>
      <input
        #labelElement
        matInput
        [placeholder]="this.formGroup.get('label').value && this.formGroup.get('label').value.length !== 0 ? '' : 'Write a idea name'"
        formControlName="label">
    </mat-form-field>
    <div fxLayout="row">
      <!--
      <mat-form-field>
        <mat-select placeholder="Age required">
          <mat-option *ngFor="">

          </mat-option>
        </mat-select>
      </mat-form-field>
      -->
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="description-container">
      <mat-icon>short_text</mat-icon>
      <textarea
        #descriptionElement
        matInput
        matTextareaAutosize
        [placeholder]="this.formGroup.get('description').value && this.formGroup.get('description').value.length !== 0 ? '' : 'Description'"
        formControlName="description"></textarea>
    </div>
    <mat-divider></mat-divider>
  </form>
  <div fxLayout="column" fxLayoutAlign="start start">
    <button mat-raised-button color='primary' (click)="addLvl()" i18n>idea_show.add_lvl</button>
    <app-lvl-list-cmp [ideaId]="idea.id"></app-lvl-list-cmp>
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <!-- LOG LIST HERE -->
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <!-- COMMENT LIST -->
  </div>
</div>
<div class="comment-form-container" fxLayout="column" fxLayoutAlign="start stretch">
  <!-- COMMENT HERE -->
</div>
