<div fxFlex fxFill>
  <form [formGroup]="formGroup" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field>
      <input
        #labelElement
        matInput
        [placeholder]="this.formGroup.get('label').value && this.formGroup.get('label').value.length !== 0 ? '' : 'Write a idea name'"
        formControlName="label">
    </mat-form-field>
    <div fxLayout="row">
      <button mat-icon-button *ngFor="let age of ages">{{ age }}</button>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="required-age-explanation-container">
      <mat-icon>short_text</mat-icon>
      <textarea
        #requiredAgeExplanationElement
        matInput
        matTextareaAutosize
        [placeholder]="this.formGroup.get('required_age_explanation').value && this.formGroup.get('required_age_explanation').value.length !== 0 ? '' : 'Explain this age requirement'"
        formControlName="required_age_explanation"></textarea>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <button mat-icon-button *ngFor="let score of scores">{{ score }}</button>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" class="score-explanation-container">
      <mat-icon>short_text</mat-icon>
      <textarea
        #scoreExplanationElement
        matInput
        matTextareaAutosize
        [placeholder]="this.formGroup.get('score_explanation').value && this.formGroup.get('score_explanation').value.length !== 0 ? '' : 'Explain this score'"
        formControlName="score_explanation"></textarea>
    </div>
  </form>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <!-- LOG LIST HERE -->
  </div>
</div>
<div class="comment-form-container" fxLayout="column" fxLayoutAlign="start stretch">
  <!-- COMMENT HERE -->
</div>
