<div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
  <img src="/assets/img/user.svg"
       *ngIf="userService.user"
       matTooltip="header_user.user" i18n-matTooltip
       width="50" height="50"/>
</div>
<div fxFlex="80" fxLayout="column" fxLayoutAlign="center center">
  <app-header-level-cmp
    *ngIf="userService.user"
    [gamification]="userService.user.gamification">
  </app-header-level-cmp>
</div>
<button mat-icon-button [matMenuTriggerFor]="parentMenu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #parentMenu="matMenu">
  <button mat-menu-item [routerLink]="['user/edit']" i18n>nav.profile</button>
</mat-menu>
