<form [formGroup]="formGroup" fxLayout="row" fxLayoutAlign="start center">
  <mat-form-field>
    <input matInput placeholder="Title"
           formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Category" formControlName="category_id">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="submit()" i18n>form.submit</button>
</form>
