<div fxFill fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-icon>search</mat-icon>
    <mat-form-field fxFill>
      <input #inputElement fxFill
             matInput
             placeholder="Search for an idea"
             autocomplete="off">
    </mat-form-field>
  </div>
  <div class="language" *ngIf="filters$ | async as filters">
    <button mat-button [matMenuTriggerFor]="languageMenu">
      <img *ngIf="filters.language !== null"
           [src]="constantsService.getLanguageIconByValue(filters.language)" width="24" height="24"/>
      <img *ngIf="filters.language === null"
           src="/assets/img/unknown.svg" width="24" height="24"/>
    </button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item (click)="selectLanguage(null)">
        <mat-icon><img src="/assets/img/unknown.svg" width="24" height="24"/></mat-icon>
        Any
      </button>
      <button mat-menu-item *ngFor="let language of constantsService.languages" (click)="selectLanguage(language.value)">
        <mat-icon><img [src]="language.icon" width="24" height="24"/></mat-icon>
        {{ language.label }}
      </button>
    </mat-menu>
  </div>
  <div class="required-age" *ngIf="filters$ | async as filters">
    <button mat-button [matMenuTriggerFor]="requiredAgeMenu">
      <p *ngIf="filters.requiredAge !== null">{{ filters.requiredAge }}</p>
      <p *ngIf="filters.requiredAge === null">Age</p>
    </button>
    <mat-menu #requiredAgeMenu="matMenu">
      <button mat-menu-item (click)="selectRequiredAge(null)">
        Any
      </button>
      <button mat-menu-item *ngFor="let age of ideaFacade.ages" (click)="selectRequiredAge(age)">
        {{ age }}+
      </button>
    </mat-menu>
  </div>
  <div class="score" *ngIf="filters$ | async as filters">
    <button mat-button [matMenuTriggerFor]="scoreMenu">
      <p *ngIf="filters.score !== null">{{ filters.score }}</p>
      <p *ngIf="filters.score === null">Score</p>
    </button>
    <mat-menu #scoreMenu="matMenu">
      <button mat-menu-item (click)="selectScore(null)">
        Any
      </button>
      <button mat-menu-item *ngFor="let score of ideaFacade.scores" (click)="selectScore(score)">
        <img [src]="ideaFacade.getIcon(score)" width="24" height="24"/>
      </button>
    </mat-menu>
  </div>
  <div class="category" *ngIf="filters$ | async as filters">
    <button mat-button [matMenuTriggerFor]="categoryMenu">
      <img *ngIf="filters.category !== null"
           [src]="constantsService.getCategoryIconByValue(filters.category)" width="24" height="24"/>
      <p *ngIf="filters.category === null">Category</p>
    </button>
    <mat-menu #categoryMenu="matMenu">
      <button mat-menu-item (click)="selectCategory(null)">
        Any
      </button>
      <button mat-menu-item *ngFor="let category of constantsService.categories" (click)="selectCategory(category.value)">
        <img [src]="category.icon" width="24" height="24"/>
        {{ category.label }}
      </button>
    </mat-menu>
  </div>
</div>
