<h2>Label</h2>
<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-form-field fxFill>
    <input #inputElement fxFill
           matInput
           placeholder="Search for an idea"
           autocomplete="off">
  </mat-form-field>
</div>
<h2>Required age</h2>
<div fxLayout="row" fxLayoutAlign="space-around center">
  <ng-container *ngFor="let age of ages">
    <button mat-raised-button
            [color]="(filters$ | async).requiredAge.includes(age) ? 'accent' : ''"
            (click)="selectRequiredAge(age)">
      {{ age }}
    </button>
  </ng-container>
</div>
<h2>Score</h2>
<div fxLayout="row" fxLayoutAlign="space-around center">
  <ng-container *ngFor="let score of scores">
    <button mat-fab
            [color]="(filters$ | async).score.includes(score) ? 'accent' : ''"
            (click)="selectScore(score)">
      <mat-icon [svgIcon]="'recommandation_' + score"></mat-icon>
    </button>
  </ng-container>
</div>
<mat-divider></mat-divider>
