<div fxFill fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-icon>search</mat-icon>
    <mat-form-field fxFill>
      <input #inputElement fxFill
            matInput
            placeholder="Search for an idea"
            autocomplete="off">
    </mat-form-field>
  </div>
  <div class="language" *ngIf="filters$ | async as filters">
    <button mat-button [matMenuTriggerFor]="languageMenu">
      <img *ngIf="filters.language !== null"
          [src]="constantsService.getLanguageIconByValue(filters.language)" width="24" height="24"/>
      <img *ngIf="filters.language === null"
          src="/assets/img/unknown.svg" width="24" height="24"/>
    </button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item (click)="selectLanguage(null)">
        <mat-icon><img src="/assets/img/unknown.svg" width="24" height="24"/></mat-icon>
        Any
      </button>
      <button mat-menu-item *ngFor="let language of constantsService.languages" (click)="selectLanguage(language.value)">
        <mat-icon><img [src]="language.icon" width="24" height="24"/></mat-icon>
        {{ language.label }}
      </button>
    </mat-menu>
  </div>
</div>
<!--
<div fxLayout="row" fxLayoutAlign="space-around center">
  <ng-container *ngFor="let age of ages">
    <button mat-raised-button
            [color]="(filters$ | async).requiredAge.includes(age) ? 'accent' : ''"
            (click)="selectRequiredAge(age)">
      {{ age }}
    </button>
  </ng-container>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
  <ng-container *ngFor="let score of scores">
    <button mat-fab
            [color]="(filters$ | async).score.includes(score) ? 'accent' : ''"
            (click)="selectScore(score)">
      <mat-icon [svgIcon]="'recommandation_' + score"></mat-icon>
    </button>
  </ng-container>
</div>
-->
