:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  place-content: center space-around;
  align-items: center;
}

.row {
  height: 80px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;

  img {
    width: 24px;
    height: 24px;
  }
  span {
    margin-left: 10px;
  }
}
