<mat-toolbar fxLayout="row" fxLayoutAlign="center center">
  <header class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <img src="/assets/img/path-of-child-logo-horizontal.svg" width="203" [routerLink]="['']"/>
    </div>
    <div *ngIf="!(authService.isAuthenticated | async)"
         fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="primary" (click)="authService.login()" i18n>nav.login</button>
    </div>
    <div *ngIf="authService.isAuthenticated | async"
         fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button [matMenuTriggerFor]="mainMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </header>
</mat-toolbar>
<mat-toolbar fxLayout="row" fxLayoutAlign="center center" *ngIf="authService.isAuthenticated | async">
  <div class="container" fxLayout="row" fxLayoutAlign="space-around center">
    <app-header-user-cmp fxFlex="33" fxLayout="row" fxLayoutAlign="space-around center"></app-header-user-cmp>
    <app-header-child-cmp fxFlex="33" fxLayout="row" fxLayoutAlign="space-around center"></app-header-child-cmp>
    <app-header-build-cmp fxFlex="33" fxLayout="row" fxLayoutAlign="space-around center"></app-header-build-cmp>
  </div>
</mat-toolbar>
<mat-menu #mainMenu="matMenu">
  <button mat-menu-item [routerLink]="['user/edit']" i18n>nav.profile</button>
  <button mat-menu-item [routerLink]="['child']" i18n>nav.child</button>
  <button *ngIf="childService.child"
          mat-menu-item [routerLink]="['build']" i18n>nav.build</button>
  <button *ngIf="childService.child && buildService.build"
          mat-menu-item [routerLink]="['calendar/era/baby']" i18n>nav.calendar</button>
</mat-menu>
