<mat-card fxFlex class="left-card">
  <mat-card-header fxLayout="row" fxLayoutAlign="start start">
    <button mat-raised-button color='primary' (click)="addTask()" i18n>task_index.add_task</button>
    <button mat-raised-button color='primary' (click)="addSection()" i18n>task_index.add_section</button>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="start start">
    <app-task-item-cmp
      *ngFor="let task of tasks"
      [task]="task"
      (click)="selectTask(task)"
    ></app-task-item-cmp>
  </mat-card-content>
</mat-card>
<mat-card fxFlex class="right-card" *ngIf="selectedTask">
  <mat-card-header>
    <button mat-mini-fab (click)="this.selectedTask = null">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="container" fxLayout="column" fxLayoutAlign="start center">
      <app-task-show-cmp
        [task]="selectedTask"
      ></app-task-show-cmp>
    </div>
  </mat-card-content>
</mat-card>
