:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  place-content: center center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  padding-top: 20px;
}

.header {
  color: grey;
  border-bottom: 1px solid #cccccc;

  .mat-raised-button {
    margin: 10px;
  }
}

.row {
  height: 40px;
  border-bottom: 1px solid #cccccc;

  button {
    display: none;
  }
  &:hover {
    button {
      display: block;
    }
  }
}

.left-card {
  min-width: 405px;
  max-width: 1000px;
  height: 100%;
  padding: 0;

  .mat-card-content {
    padding: 10px;
  }
}

.right-card {
  margin-left: 15px;
  min-width: 0px;
  max-width: 675px;
  height: 100%;
  padding: 0;

  .mat-card-content {
    padding: 10px;
  }
}
