<mat-progress-bar
  class="loading-bar"
  color="accent"
  mode="determinate">
</mat-progress-bar>
<mat-toolbar fxLayout="row" fxLayoutAlign="center center">
  <header class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
      <img src="/assets/img/path-of-child-logo-horizontal.svg" width="203" [routerLink]="['']"/>
      <div fxLayout="row" *ngIf="authService.isAuthenticated()">
        <a href="javascript:;" [routerLink]="['build']" i18n>nav.build</a>
        <a href="javascript:;" [routerLink]="['whitelist']" i18n>nav.whitelist</a>
        <a href="javascript:;" [routerLink]="['kitchen']">Kitchen</a>
      </div>
    </div>
    <div class="container" fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
      <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
        <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
          <span>60/100</span>
          <span>Level 1</span>
        </div>
        <mat-progress-bar mode="determinate"
                          value="60"
                          color="accent"
                          *ngIf="authService.isAuthenticated()">
        </mat-progress-bar>
      </div>
    </div>
    <div class="container" fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="primary" [matMenuTriggerFor]="childrenMenu"
              *ngIf="authService.isAuthenticated()">
        selected child name
      </button>
      <button mat-button color="primary" (click)="authService.login()"
              *ngIf="!authService.isAuthenticated()" i18n>
        nav.login
      </button>
      <button mat-button color="primary" (click)="authService.logout()"
              *ngIf="authService.isAuthenticated()" i18n>
        nav.logout
      </button>
    </div>
  </header>
</mat-toolbar>
<div class="app-content">
  <router-outlet></router-outlet>
</div>
<footer fxLayout="row" fxFill fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="start start">
    <button mat-button class="locale-button" [matMenuTriggerFor]="localeMenu">
       <span i18n>footer.locale</span>
       <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
    <a href="javascript:;" [routerLink]="['terms']" i18n>footer.terms</a>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
    Social icons
  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
    <a href="javascript:;" [routerLink]="['contact']" i18n>footer.contact</a>
  </div>
</footer>
<mat-menu #childrenMenu="matMenu">
  <button mat-menu-item [routerLink]="['/child']" i18n>nav.manage_children</button>
</mat-menu>
<mat-menu #localeMenu="matMenu">
  <button mat-menu-item *ngFor="let locale of locales"
          (click)="switchLocale(locale.value)">
    {{ locale.label }}
  </button>
</mat-menu>
