<mat-progress-bar
  color="accent"
  mode="determinate">
</mat-progress-bar>
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <img src="https://placehold.it/203x31"  [routerLink]="['']"/>
    <div fxLayout="row" fxFlex="60" *ngIf="authService.isAuthenticated()">
      <a href="javascript:;" [routerLink]="['build']">Build</a>
      <a href="javascript:;" [routerLink]="['whitelist']">Whitelist</a>
      <a href="javascript:;" [routerLink]="['kitchen']">Kitchen</a>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="childrenMenu" *ngIf="authService.isAuthenticated()">
        selectedChildName
      </button>
      <button mat-button (click)="authService.login()" *ngIf="!authService.isAuthenticated()">
        Log in
      </button>
      <button mat-button (click)="authService.logout()" *ngIf="authService.isAuthenticated()">
        Log out
      </button>
    </div>
  </div>
</mat-toolbar>
<div class="app-content">
  <router-outlet></router-outlet>
</div>
<mat-menu #childrenMenu="matMenu">
  <button mat-menu-item>Leo</button>
  <button mat-menu-item>Misaki</button>
  <button mat-menu-item (click)="switchChild()">Manage children</button>
</mat-menu>
