<form #contactForm="ngForm">
  <mat-horizontal-stepper #stepper="matHorizontalStepper" [@.disabled]="true" linear>
    <mat-step>
      <ng-template matStepLabel i18n>contact.step.information</ng-template>
      <mat-card>
        <mat-card-content fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="contact.name" i18n-placeholder
                   [(ngModel)]="contact.name" name="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="contact.email" i18n-placeholder
                   [(ngModel)]="contact.email" name="email">
          </mat-form-field>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
          <button mat-button matStepperNext i18n>contact.next</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel i18n>contact.step.message</ng-template>
      <mat-card>
        <mat-card-content>
          <mat-form-field fxFill>
           <textarea matInput
                     placeholder="contact.message" i18n-placeholder
                     matTextareaAutosize
                     matAutosizeMinRows="10"
                     matAutosizeMaxRows="20"
                     [(ngModel)]="contact.message"
                     name="message"></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
          <button mat-button matStepperPrevious i18n>contact.back</button>
          <button mat-button matStepperNext i18n>contact.next</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel i18n>contact.step.confirmation</ng-template>
      <mat-card>
        <mat-card-content fxLayout="row">
          GOOGLE CAPTCHA HERE
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
          <button mat-button (click)="submit()" i18n>contact.submit</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>
</form>
