<mat-toolbar>
  <button mat-icon-button [routerLink]="['/build/' + buildService.build.id]">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <span i18n>global.go_back</span>
  </button>
</mat-toolbar>
<form class="container" #childForm="ngForm">
  <mat-card>
    <mat-card-title fxLayout="row" i18n>quest_create.title</mat-card-title>
    <mat-card-content fxLayout="column">
      <div fxLayout="row">
        <div fxLayout="row wrap" fxFlex="50">
          <mat-form-field>
            <input matInput placeholder="Quest title"
                   [(ngModel)]="quest.title" name="title">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex="50" fxLayoutAlign="space-around center">
          TYPE OF QUEST HERE
        </div>
      </div>
      <div>
        <div fxLayout="row wrap" fxFlex="30">
          <mat-form-field>
            <input matInput placeholder="First possibility"
                   [(ngModel)]="quest.possibility1" name="title">
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxFlex="30">
          <mat-form-field>
            <input matInput placeholder="Second possibility"
                   [(ngModel)]="quest.possibility2" name="title">
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxFlex="30">
          <mat-form-field>
            <input matInput placeholder="Third possibility"
                   [(ngModel)]="quest.possibility3" name="title">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button type="submit" (click)="submit()" color="primary" i18n>form.submit</button>
    </mat-card-actions>
  </mat-card>
</form>
