<div class="container">
  <app-whitelist-form-cmp></app-whitelist-form-cmp>
  <div class="header row" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="40" i18n>whitelist.list.header.title</div>
    <div fxFlex="40" i18n>whitelist.list.header.category</div>
    <div fxFlex="20"></div>
  </div>
  <div class="row" *ngFor="let whitelistItem of whitelistItems" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="40">{{ whitelistItem.title }}</div>
    <div fxFlex="40">{{ whitelistItem.category }}</div>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
      <button class="edit" mat-icon-button color="primary" (click)="editWhitelistItem(whitelistItem)">
        <mat-icon>mode_edit</mat-icon>
      </button>
      <button class="delete" mat-icon-button color="warn" (click)="deleteWhitelistItem(whitelistItem)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
