<div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
  <img *ngIf="childService.isChild" [matTooltip]="childService.child.nickname"
       src="https://www.shareicon.net/download/2016/12/19/863781_favorites_512x512.png"
       width="50" height="50"/>
</div>
<div fxFlex="80" fxLayout="column" fxLayoutAlign="center center" *ngIf="childService.isChild && childService.child.gamification">
  <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{ childService.child.gamification.level }}/XXX</span>
    <span>Level {{ childService.child.gamification.xp }}</span>
  </div>
  <mat-progress-bar mode="determinate"
                    value="60"
                    color="accent">
  </mat-progress-bar>
</div>
<button mat-icon-button [matMenuTriggerFor]="childMenu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #childMenu="matMenu">
  <button mat-menu-item [routerLink]="['child']" i18n>
    nav.child
  </button>
</mat-menu>
