<div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
  <img *ngIf="childService.child" [matTooltip]="childService.child.nickname"
       [src]="childService.child.gender === 'm' ? '/assets/img/boy.svg' : '/assets/img/girl.svg'"
       width="50" height="50"/>
</div>
<div fxFlex="80" fxLayout="column" fxLayoutAlign="center center">
  <span *ngIf="!childService.child">NO CHILD SELECTED</span>
  <app-header-level-cmp
    *ngIf="childService.child"
    [gamification]="childService.child.gamification">
  </app-header-level-cmp>
</div>
