<div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
  <img *ngIf="buildService.isBuild" [matTooltip]="buildService.build.title"
       src="https://www.shareicon.net/download/2016/12/19/863781_favorites_512x512.png"
       width="50" height="50"/>
</div>
<div fxFlex="80" fxLayout="column" fxLayoutAlign="center center">
  <span *ngIf="!buildService.build">NO BUILD SELECTED</span>
  <app-header-level-cmp
    *ngIf="buildService.build"
    [gamification]="buildService.build.gamification">
  </app-header-level-cmp>
</div>
<button mat-icon-button [matMenuTriggerFor]="buildMenu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #buildMenu="matMenu">
  <button mat-menu-item [routerLink]="['build']" i18n>nav.build</button>
</mat-menu>
