<div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
  <img *ngIf="buildService.isBuild" [matTooltip]="buildService.build.title"
       src="/assets/img/build.svg"
       width="50" height="50"/>
</div>
<div fxFlex="80" fxLayout="column" fxLayoutAlign="center center">
  <span *ngIf="!buildService.build">NO BUILD SELECTED</span>
  <app-header-level-cmp
    *ngIf="buildService.build"
    [gamification]="buildService.build.gamification">
  </app-header-level-cmp>
</div>
<button *ngIf="childService.child"
        mat-icon-button [matMenuTriggerFor]="buildMenu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #buildMenu="matMenu">
  <button mat-menu-item [routerLink]="['build']" i18n>nav.build</button>
  <button *ngIf="buildService.build"
          mat-menu-item [routerLink]="['whitelist']" i18n>nav.whitelist</button>
  <button *ngIf="buildService.build"
          mat-menu-item [routerLink]="['quest']" i18n>nav.quest</button>
</mat-menu>
