:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  place-content: center space-around;
  align-items: center;
}

.header {
  color: grey;
  border-bottom: 1px solid #cccccc;
}

.row {
  height: 40px;
  border-bottom: 1px solid #cccccc;

  button {
    display: none;
  }
  &:hover {
    button {
      display: block;
    }
  }
}
