<app-whitelist-form-cmp [category]="category"></app-whitelist-form-cmp>
<div class="header row" fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="60" i18n>whitelist.list.header.title</div>
  <div fxFlex="30" i18n>whitelist.list.header.required_age</div>
  <div fxFlex="10" i18n></div>
</div>
<div class="row" *ngFor="let whitelistItem of whitelistItems" fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="60">{{ whitelistItem.title }}</div>
  <div fxFlex="30">{{ whitelistItem.required_age }}</div>
  <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
    <button class="delete" mat-icon-button color="warn" (click)="deleteWhitelistItem(whitelistItem)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
