:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: #6545cc;
  height: 100%;
  color: #fff;
}

img {
  cursor: pointer;
}

header {
  min-height: 68px;
}

mat-button-toggle {
  background: transparent;
  color: white;
}

.mat-button-toggle-checked {
  background: white;
  color: black;
}
