:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  place-content: center space-around;
  align-items: center;
  width: 100%;
}

.row {
  margin: 30px;
}

mat-card {
  min-height: 330px;
}
