<div fxLayout="column" fxLayoutAlign="center" [ngStyle]="{'margin': '20px'}">
  <h1>Path of child</h1>
  <h2>Modules</h2>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card>
    <mat-card-title>Build</mat-card-title>
    <mat-card-subtitle>Plan education</mat-card-subtitle>
    <mat-card-actions>
      <button [routerLink]="['build']">Go</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Whitelist</mat-card-title>
    <mat-card-subtitle>Plan access to digital content</mat-card-subtitle>
    <mat-card-actions>
      <button [routerLink]="['whitelist']">Go</button>
    </mat-card-actions>
  </mat-card>
</div>
<br />
<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card>
    <mat-card-title>Tutorial</mat-card-title>
    <mat-card-subtitle>Plan useful information</mat-card-subtitle>
    <mat-card-actions>
      <button [routerLink]="['tutorial']">Go</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Effort</mat-card-title>
    <mat-card-subtitle>Monitor effort and reward them</mat-card-subtitle>
    <mat-card-actions>
      <button [routerLink]="['effort']">Go</button>
    </mat-card-actions>
  </mat-card>
</div>
