:host {
  padding: 0px 20px;
  width: 100%;
}

.mat-form-field input {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  min-height: 0;
  padding: 4px 9px;
}

.cdk-textarea-autosize {
  min-height: 100px;
}

textarea {
  min-height: 1px;
  padding: 4px 9px;
}

.mat-form-field input,
textarea {
  border: 1px solid transparent;
}

.mat-form-field input:hover,
textarea:hover {
  border: 1px solid #d5dce0;
}

.text-area-container {
  padding: 20px 0px;
}

.comment-form-container {
  height: 107px;
  padding: 10px 30px;
}

.icon {
  height: 200px;

  div {
    height: 200px;

    img {
      height: 100%;
      width: auto;
    }
  }
}
