<div fxFlex fxFill *ngIf="selectedIdea$ | async as selectedIdea" fxLayout="column" fxLayoutAlign="start center">
  <div class="icon" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="selectedIdea.imgs && selectedIdea.imgs.cover">
      <img *ngFor="let cover of selectedIdea.imgs.cover" [src]="cover"/>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="selectedIdea.imgs && selectedIdea.imgs.screenshot">
      <img *ngFor="let screenshot of selectedIdea.imgs.screenshot" [src]="screenshot"/>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <app-review-show-cmp></app-review-show-cmp>
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <!-- LOG LIST HERE -->
    </div>
  </div>
  <div class="comment-form-container" fxLayout="column" fxLayoutAlign="start stretch">
    <!-- COMMENT HERE -->
  </div>
</div>
