<div class="container" [matTooltip]="idea.label + (idea.releaseDate ? ' (' + idea.releaseDate + ')' : ' (????)')" matTooltipPosition="above">
  <div class="icon">
    <img [src]="idea.imgs && idea.imgs.icon ? idea.imgs.icon : 'https://placehold.it/40x40'" />
  </div>
  <div class="language" *ngIf="constantsService.getLanguageIconByValue(idea.language).length > 0">
    <img [src]="constantsService.getLanguageIconByValue(idea.language)"/>
  </div>
  <div class="category">
    <img [src]="constantsService.getCategoryIconByValue(idea.category)"/>
  </div>
  <div class="requiredAge" *ngIf="idea.requiredAge">
    {{ (idea.requiredAge | number:'1.0-0') + '+' }}
  </div>
  <div class="score" *ngIf="idea.score">
    <img [src]="constantsService.getScoreIcon(idea.score)"/>
  </div>
</div>
