:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  place-content: center space-around;
  align-items: center;
}

.path-of-child-bg {
  height: 500px;
}

.hero {
  h1 {
    font-weight: normal;
    font-size: 34px;
    line-height: 1.6;
  }
  .actions {
    width: 100%;
    margin-top: 40px;
    button {
      width: 300px;
    }
  }
}

.story {
  padding: 20px;
}

.story-bg {
  background-color: blue;
}

.path-of-child-description {
  padding: 60px;
  h2 {
    text-align: center;
    font-size: 15px;
    color: #bbbbbb;
    font-weight: 600;
    text-transform: uppercase;
  }
  h3 {
    color: grey;
    font-size: 14px;
  }
}
