<div fxLayout="column" fxLayoutAlign="center center" class="path-of-child-bg hero">
  <div class="container" fxLayout="column" fxLayoutAlign="start start">
    <h1 i18n>home.title</h1>
    <div class="line-with-icon" fxLayout="row" fxLayoutAlign="start start">
      <mat-icon>date_range</mat-icon>
      <p i18n>home.hero1</p>
    </div>
    <div class="line-with-icon" fxLayout="row" fxLayoutAlign="start start">
      <mat-icon>music_video</mat-icon>
      <p i18n>home.hero2</p>
    </div>
    <div class="line-with-icon" fxLayout="row" fxLayoutAlign="start start">
      <mat-icon>chat</mat-icon>
      <p i18n>home.hero3</p>
    </div>
    <div class="line-with-icon" fxLayout="row" fxLayoutAlign="start start">
      <mat-icon>call_split</mat-icon>
      <p i18n>home.hero4</p>
    </div>
    <div class="actions" fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button (click)="authService.signUp()" i18n>home.signup</button>
    </div>
  </div>
</div>
<div class="story story-idea" fxFill fxLayout="row" fxLayoutAlign="center">
  <div class="container" fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="50">
      <img fxFill src="/assets/img/story-idea.jpg"/>
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="start start">
      <h2 i18n>home.story.idea</h2>
    </div>
  </div>
</div>
<div class="story story-share" fxFill fxLayout="row" fxLayoutAlign="center">
  <div class="container" fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="50">
      <img fxFill src="/assets/img/story-share.jpg"/>
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="start start">
      <h2 i18n>home.story.share</h2>
    </div>
  </div>
</div>
<div class="story story-path" fxFill fxLayout="row" fxLayoutAlign="center">
  <div class="container" fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="start start">
      <h2 i18n>home.story.path</h2>
    </div>
    <div fxFlex="50">
      <img fxFill src="/assets/img/story-path.jpg"/>
    </div>
  </div>
</div>
<div class="path-of-child-description" fxLayout="column" fxLayoutAlign="center center">
  <h2 i18n>home.path_of_child.title</h2>
  <h3 i18n>home.path_of_child.description</h3>
  <p i18n>home.path_of_child.quote</p>
</div>
