:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  place-content: center space-around;
  align-items: center;
}

.path-of-child-bg {
  height: 400px;
}

.hero {
  h2 {
    font-weight: normal;
    font-size: 34px;
    line-height: 1.6;
  }
  h3 {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
  }
}
