<mat-toolbar>
  <button mat-icon-button [routerLink]="['/child']">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <span i18n>global.go_back</span>
  </button>
</mat-toolbar>
<form [formGroup]="formGroup" *ngIf="!loading">
  <mat-card>
    <mat-card-title fxLayout="row" i18n>child_form.title</mat-card-title>
    <mat-card-content fxLayout="row">
      <div fxLayout="row wrap" fxFlex="50">
        <mat-form-field>
          <input matInput placeholder="child_form.firstname" i18n-placeholder
                 formControlName="firstname">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="child_form.middlenames" i18n-placeholder
                 formControlName="middlenames">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="child_form.lastname" i18n-placeholder
                 formControlName="lastname">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="child_form.nickname" i18n-placeholder
                 formControlName="nickname">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="child_form.birthdate" i18n-placeholder
                 formControlName="birthdate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxFlex="50" fxLayoutAlign="space-around center">
        <div class="gender gender-f" fxLayout="column" fxLayoutAlign="center center"
             [ngClass]="{'selected': formGroup.value.gender === 'f'}">
          <div class="option" (click)="setGender('f')">
            <img src="/assets/img/girl.svg"/>
            <div i18n>child_form.girl</div>
          </div>
        </div>
        <div class="gender gender-m" fxLayout="column" fxLayoutAlign="center center"
             [ngClass]="{'selected': formGroup.value.gender === 'm'}">
          <div class="option" (click)="setGender('m')">
            <img src="/assets/img/boy.svg"/>
            <div i18n>child_form.boy</div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button type="submit" (click)="submit()" color="primary" i18n>form.submit</button>
    </mat-card-actions>
  </mat-card>
</form>
