<mat-toolbar fxLayout="row" fxLayoutAlign="center center">
  <div class="row container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="20">
      <button mat-icon-button [routerLink]="['/calendar/era/' + buildService.era + '/goal']">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span i18n>global.go_back</span>
      </button>
    </div>
    <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
      <h3>{{ buildService.childYear }} year old</h3>
    </div>
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center"></div>
  </div>
</mat-toolbar>
<form class="container" [formGroup]="formGroup" *ngIf="!loading">
  <mat-card>
    <mat-card-title fxLayout="row" i18n>goal_form.title</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="row">
      <div fxLayout="column" fxFlex="50">
        <h3>goal_form.instruction.title</h3>
        <p>goal_form.instruction.description</p>
      </div>
      <div fxLayout="column" fxFlex="50">
        <mat-form-field>
          <input matInput placeholder="goal_form.title" i18n-placeholder
                 formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput
                    placeholder="goal_form.description" i18n-placeholder
                    matTextareaAutosize
                    matAutosizeMinRows="5"
                    matAutosizeMaxRows="20"
                    formControlName="description" required></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button type="submit" (click)="submit()" color="primary" i18n>form.submit</button>
    </mat-card-actions>
  </mat-card>
</form>
