:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: #6545cc;
  color: #fff;
  width: 60%;
}
