<div class="category" fxLayout="row" fxLayoutAlign="end center">
  <img [src]="constantsService.getCategoryIconByValue(idea.category)"/>
</div>
<div class="icon" fxLayout="row" fxLayoutAlign="space-between center">
  <img [src]="idea.imgs ? idea.imgs.icon : 'https://placehold.it/40x40'" [matTooltip]="idea.label" matTooltipPosition="above" />
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <div class="requiredAge">
    {{ idea.requiredAge ? (idea.requiredAge | number:'1.0-0') + '+' : '?' }}
  </div>
  <div class="score">
    <img [src]="getIcon(idea.score ? (idea.score | number:'1.0-0') : '0')"/>
  </div>
</div>
