:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  place-content: center space-around;
  align-self: center;
  width: 160px;
  height: 160px;
  margin: 5px;
}

.container {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px;

  .icon {
    z-index: 1;
    align-self: center;
    img {
      width: 160px;
      height: 160px;
    }
  }

  .category {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    width: 24px;
    height: 24px;
    z-index: 2;
    border-radius: 0;
    img {
      width: 24px;
      height: 24px;
    }
  }

  .requiredAge {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color: black;
    width: 24px;
    height: 14px;
    z-index: 2;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
  }

  .score {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: black;
    width: 24px;
    height: 24px;
    z-index: 2;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
