:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  place-content: stretch center;
  flex-direction: row;
}

img {
  cursor: pointer;
}

header {
  width: 100%;
}
