<div fxFill fxLayout="row" fxLayoutAlign="space-between center">
  <h5 i18n>build_index.title</h5>
  <button mat-icon-button [routerLink]="['/build/create']">
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
<div fxFill fxLayout="column">
  <div fxFill fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let build of builds">
    <a [routerLink]="'/' + build.id + '/task'" fxLayout="row" fxLayoutAlign="start center">
      {{ build.name }}
    </a>
    <button mat-icon-button [routerLink]="['/build/update/' + build.id]">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
</div>
