:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  place-content: center space-around;
  align-items: center;
  padding: 15px;
}

a {
  color: #fff;

  &:hover,
  &:link,
  &:visited,
  &:active {
    color: #fff;
  }
}
