<div fxFill fxLayout="column" fxLayoutAlign="start center" (click)="focusInput($event)">
  <h2>Create new characters</h2>
  <form [formGroup]="formGroup" fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field fxFill>
      <input #inputElement fxFill
            matInput
            [placeholder]="this.formGroup.get('label').value && this.formGroup.get('label').value.length !== 0 ? '' : 'Write an character'"
            formControlName="label"
            (keyup.backspace)="onKey($event)"
            autocomplete="off">
    </mat-form-field>
    <button mat-mini-fab (click)="create()"><mat-icon>add</mat-icon></button>
  </form>

  <h2>Similar characters</h2>
  <div fxLayout="row wrap">
    <app-character-item-cmp
      *ngFor="let character of (suggestedCharacters$ | async)"
      [character]="character"
    ></app-character-item-cmp>
  </div>

  <h2>New characters</h2>
  <div fxLayout="column">
    <div *ngFor="let character of newCharacters" fxLayout="row">
      {{ character.label }}
    </div>
  </div>
</div>
