IDEA_TABLE=pathofchild-graphql-dev-idea
IDEA_USER_TABLE=pathofchild-graphql-dev-review
USER_TABLE=pathofchild-graphql-dev-user
ELASTIC_SEARCH_INDEX=app
ELASTIC_SEARCH_HOST=http://localhost:9200
LOCAL_DYNAMODB_HOST=localhost
LOCAL_DYNAMODB_PORT=4567
LOCAL_DYNAMODB_TABLE=pathofchild-graphql-dev
S3_BUCKET=pathofchild-local
