dev:
  LOCAL_DYNAMODB_ENDPOINT: http://localhost:8000
  AUTH0_CLIENT_ID: ~
  AUTH0_JWKS_URI: ~
  AUTH0_JWKS_KID: ~
  IDEA_TABLE: pathofchild-dev-idea
  USER_TABLE: pathofchild-dev-user
  READ_CAPACITY_UNITS: 1
  WRITE_CAPACITY_UNITS: 1
