<h2>idea_tag_list.title</h2>
<mat-form-field class="idea-tags-list">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let ideaTag of ideaTags$ | async"
      [removable]="true"
      (removed)="remove(ideaTag)">
      {{ ideaTag.tag.label }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      #inputElement
      placeholder="Add tag..."
      [matChipInputFor]="chipList"
      [matAutocomplete]="auto"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
    <mat-option *ngFor="let tag of tags$ | async" [value]="tag">
      {{ tag.label }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
