:host {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.label {
  font-size: 1em;
  min-width: 400px;
  padding: 5px;
}

.icon {
  align-self: center;
  width: 64px;
  height: 64px;
  img {
    width: 64px;
    height: 64px;
  }
}

.language {
  background-color: white;
  width: 64px;
  height: 64px;
  text-align: center;
  img {
    width: 64px;
    height: 64px;
  }
}

.category {
  background-color: white;
  width: 64px;
  height: 64px;
  text-align: center;
  img {
    width: 64px;
    height: 64px;
  }
}

.requiredAge {
  color: white;
  background-color: black;
  width: 64px;
  height: 64px;
  font-size: 2.5em;
  text-align: center;
}

.score {
  background-color: black;
  width: 64px;
  height: 64px;
  img {
    width: 64px;
    height: 64px;
  }
}
