<div class="icon">
  <img [src]="idea.imgs && idea.imgs.icon ? idea.imgs.icon : 'https://picsum.photos/100/100'" />
</div>
<div class="label">
  {{ idea.label + (idea.releaseDate ? ' (' + idea.releaseDate + ')' : ' (????)') }}
</div>
<div class="language">
  <img *ngIf="constantsService.getLanguageIconByValue(idea.language).length > 0" [src]="constantsService.getLanguageIconByValue(idea.language)"/>
</div>
<div class="category">
  <img [src]="constantsService.getCategoryIconByValue(idea.category)"/>
</div>
<div class="requiredAge">
  {{ idea.requiredAge ? (idea.requiredAge | number:'1.0-0') + '+' : '' }}
</div>
<div class="score">
  <img *ngIf="idea.score" [src]="constantsService.getScoreIcon(idea.score)"/>
</div>