<div class="container">
  <app-favorite-form-cmp></app-favorite-form-cmp>
  <div class="header row" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="40" i18n>favorite.list.header.title</div>
    <div fxFlex="40" i18n>favorite.list.header.category</div>
    <div fxFlex="20"></div>
  </div>
  <div class="row" *ngFor="let favorite of favorites" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="40">{{ favorite.title }}</div>
    <div fxFlex="40">{{ favorite.category }}</div>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
      <button class="edit" mat-icon-button color="primary" (click)="editFavorite(favorite)">
        <mat-icon>mode_edit</mat-icon>
      </button>
      <button class="delete" mat-icon-button color="warn" (click)="deleteFavorite(favorite)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
