<mat-toolbar>
  <button mat-icon-button [routerLink]="['/child']">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <span i18n>global.go_back</span>
  </button>
</mat-toolbar>
<form #childForm="ngForm" class="container">
  <mat-card>
    <mat-card-title fxLayout="row" i18n>
      child_delete.title
    </mat-card-title>
    <mat-card-content fxLayout="column">
      child_delete.description
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-button type="submit" (click)="submit()" i18n>global.yes</button>
    </mat-card-actions>
  </mat-card>
</form>
