<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1 i18n>reward_index.title</h1>
    <button mat-button [routerLink]="['/reward/create']">
      <mat-icon>add_circle</mat-icon>
      <span i18n>reward_index.reward_create</span>
    </button>
  </div>
  <div class="row" *ngFor="let reward of rewards" fxLayout="row" fxLayoutAlign="start center">
    <mat-card fxLayout="column">
      <mat-card-title>{{ reward.title }}</mat-card-title>
      <mat-card-content>{{ reward.description }}</mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button class="edit" mat-icon-button color="primary" [routerLink]="['/reward/update/' + reward.id]">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button class="delete" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
