$path-of-child-blue: (
    50 : #f0f6fb,
    100 : #dae9f4,
    200 : #c2daed,
    300 : #aacbe5,
    400 : #97bfe0,
    500 : #85b4da,
    600 : #7dadd6,
    700 : #72a4d0,
    800 : #689ccb,
    900 : #558cc2,
    A100 : #ffffff,
    A200 : #f2f9ff,
    A400 : #bfdfff,
    A700 : #a6d2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
