$path-of-child-primary: (
    50 : #ede9f9,
    100 : #d1c7f0,
    200 : #b2a2e6,
    300 : #937ddb,
    400 : #7c61d4,
    500 : #6545cc,
    600 : #5d3ec7,
    700 : #5336c0,
    800 : #492eb9,
    900 : #371fad,
    A100 : #eae6ff,
    A200 : #bfb3ff,
    A400 : #9480ff,
    A700 : #7e67ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$path-of-child-accent: (
    50 : #f9f1fd,
    100 : #f0ddfa,
    200 : #e7c7f7,
    300 : #ddb0f4,
    400 : #d59ff1,
    500 : #ce8eef,
    600 : #c986ed,
    700 : #c27beb,
    800 : #bc71e8,
    900 : #b05fe4,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f6e8ff,
    A700 : #eccfff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
