@import '~@angular/material/theming';

@include mat-core();

$path-of-child-primary: mat-palette($mat-indigo);
$path-of-child-accent:  mat-palette($mat-pink, A200, A100, A400);
$path-of-child-warn:    mat-palette($mat-red);
$path-of-child-theme:   mat-light-theme($path-of-child-primary, $path-of-child-accent, $path-of-child-warn);

@include angular-material-theme($path-of-child-theme);

.path-of-child-theme {
  button {
    background: rgba(138,255,255,1);
    background: -moz-linear-gradient(45deg, rgba(138,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(209,181,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(138,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(209,181,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(138,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(209,181,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(138,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(209,181,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(138,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(209,181,255,1) 100%);
    background: linear-gradient(45deg, rgba(138,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(209,181,255,1) 100%);
    border-radius: 4px;
    color: #212121;
  }
}
