@import '~@angular/material/theming';
@import 'palette';

@include mat-core();

$path-of-child-primary: mat-palette($path-of-child-white);
$path-of-child-accent:  mat-palette($mat-pink, A200, A100, A400);
$path-of-child-warn:    mat-palette($mat-red);
$path-of-child-theme:   mat-light-theme($path-of-child-primary, $path-of-child-accent, $path-of-child-warn);

@include angular-material-theme($path-of-child-theme);

.path-of-child-theme {
  .path-of-child-bg {
    width: 100%;
    background: #fff;
    background: -moz-linear-gradient(45deg, #a5ffbf 0%, #ffd3ad 51%, #f56bff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #a5ffbf 0%,#ffd3ad 51%,#f56bff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #a5ffbf 0%,#ffd3ad 51%,#f56bff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  button.themed {
    background: #fff;
    background: -moz-linear-gradient(45deg, #59bcff 0%, #ffa8ec 100%, #f600ff 100%, #f600ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #59bcff 0%,#ffa8ec 100%,#f600ff 100%,#f600ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #59bcff 0%,#ffa8ec 100%,#f600ff 100%,#f600ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #212121;
    span {
      color: #212121;
    }
  }

  mat-progress-bar {
    height: 2px;
  }

  mat-toolbar {
    margin: 0 auto;
    min-height: 68px;
    border-bottom: 1px solid #e1e1e1;

    .container {
      width: 1170px;
    }
    a {
      margin-right: 20px;
      color: #1a1a1a;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      padding: 0 10px;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  .container {
    width: 960px;
    padding: 10px;
  }
}
