:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  place-content: center space-around;
  align-self: center;
  width: 100%;
  margin-top: 20px;
}

form {
  margin: 20px 0;
  width: 400px;
}
