<footer fxLayout="row" fxFill fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="start start">
    <button mat-button class="locale-button" [matMenuTriggerFor]="localeMenu">
       <span i18n>footer.locale</span>
       <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
    <a href="javascript:;" [routerLink]="['terms']" i18n>footer.terms</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start">
    <button mat-icon-button>
      <img src="/assets/img/social/reddit-logo.svg" width="32" height="32" />
    </button>
    <button mat-icon-button>
      <img src="/assets/img/social/facebook-logo.svg" width="32" height="32" />
    </button>
    <button mat-icon-button>
      <img src="/assets/img/social/twitter-logo.svg" width="32" height="32" />
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
    <a href="javascript:;" [routerLink]="['contact']" i18n>footer.contact</a>
  </div>
</footer>
<mat-menu #localeMenu="matMenu">
  <button mat-menu-item *ngFor="let locale of localeService.LOCALES"
          (click)="localeService.setLocale(locale.value)">
    {{ locale.label }}
  </button>
</mat-menu>
