:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  place-content: center center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: whitesmoke;
  border-top: 1px solid #e1e1e1;
}

footer {
  width: 1170px;

  img {
    margin-right: 10px;
  }
  a {
    height: 25px;
    margin-bottom: 10px;
  }
}
