<footer fxLayout="row" fxLayoutAlign="space-around start">
  <div fxLayout="column" fxLayoutAlign="start start">
    <button mat-button *ngFor="let locale of localeService.locales"
            (click)="localeService.setLocale(locale.value)">
      {{ locale.label }}
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
    <button mat-button [routerLink]="['terms']" i18n>footer.terms</button>
    <button mat-button [routerLink]="['branding']" i18n>footer.branding</button>
    <button mat-button [routerLink]="['contact']" i18n>footer.contact</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
    <a href="https://reddit.com/r/pathofchild" fxLayout="row" fxLayoutAlign="start center">
      <img src="/assets/img/social/reddit-logo.svg" width="32" height="32" />
      <span>Reddit</span>
    </a>
    <a href="https://www.facebook.com/pathofchild" fxLayout="row" fxLayoutAlign="start center">
      <img src="/assets/img/social/facebook-logo.svg" width="32" height="32" />
      <span>Facebook</span>
    </a>
     <a href="https://www.twitter.com/@pathofchild" fxLayout="row" fxLayoutAlign="start center">
      <img src="/assets/img/social/twitter-logo.svg" width="32" height="32" />
      <span>Twitter</span>
    </a>
  </div>
</footer>
