<header fxFill fxLayout="row" fxLayoutAlign="center center">
  <h1>Path of Child Logos & Branding</h1>
</header>
<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h2>Logo</h2>
  <div class="image-gallery" fxFill fxLayout="row" fxLayoutAlign="center stretch">
    <div class="white" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <img src="/assets/img/path-of-child-logo-horizontal.svg"/>
    </div>
    <div class="black" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <img src="/assets/img/path-of-child-logo-horizontal.svg"/>
    </div>
    <div class="primary" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <img src="/assets/img/path-of-child-logo-horizontal.svg"/>
    </div>
  </div>
</div>
<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h2>Icons</h2>
  <div class="image-gallery" fxFill fxLayout="row" fxLayoutAlign="center stretch">
    <div class="white" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <img src="/assets/img/path-of-child-logo-only.svg"/>
    </div>
    <div class="black" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <img src="/assets/img/path-of-child-logo-only.svg"/>
    </div>
    <div class="primary" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <img src="/assets/img/path-of-child-logo-only.svg"/>
    </div>
  </div>
</div>
<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h2>Color Palette</h2>
  <div class="palette" fxLayout="row" fxFill fxLayoutAlign="space-around stretch">
    <div class="primary" fxLayout="row" fxLayoutAlign="center center">
      Primary
      <br>
      #85b4dA
    </div>
    <div class="black" fxLayout="row" fxLayoutAlign="center center">
      Black
      <br>
      #1a1a1a
    </div>
    <div class="blue" fxLayout="row" fxLayoutAlign="center center">
      Blue
      <br>
      #3cd9c5
    </div>
    <div class="pink" fxLayout="row" fxLayoutAlign="center center">
      Pink
      <br>
      #ce8eef
    </div>
    <div class="grey" fxLayout="row" fxLayoutAlign="center center">
      Grey
      <br>
      #eeeeee
    </div>
    <div class="white" fxLayout="row" fxLayoutAlign="center center">
      White
      <br>
      #ffffff
    </div>
  </div>
</div>
