<div fxFill fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon>search</mat-icon>
    <mat-form-field fxFill>
      <input #inputElement fxFill
             matInput
             placeholder="Search for a character"
             autocomplete="off">
    </mat-form-field>
  </div>
  <div class="sort" *ngIf="filters$ | async as filters">
    <button mat-button [matMenuTriggerFor]="sortMenu">
      <p *ngIf="filters.sort !== null">{{ constantsService.getLabelByValue(filters.sort, constantsService.characterSorts) }}</p>
      <p *ngIf="filters.sort === null">Sort By</p>
    </button>
    <mat-menu #sortMenu="matMenu">
      <button mat-menu-item (click)="selectSort(null)">
        Most recent
      </button>
      <button mat-menu-item *ngFor="let sort of constantsService.characterSorts" (click)="selectSort(sort.value)">
        {{ sort.label }}
      </button>
    </mat-menu>
  </div>
</div>
