<form [formGroup]="formGroup" fxFlex fxLayout="column">
  <div>user_edit.form.first_name</div>
  <mat-form-field fxFill>
    <input #inputElement fxFill
           matInput
           [placeholder]="this.formGroup.get('firstName').value && this.formGroup.get('firstName').value.length !== 0 ? '' : 'Your first name'"
           formControlName="firstName"
           autocomplete="off">
  </mat-form-field>
  <div>user_edit.form.last_name</div>
  <mat-form-field fxFill>
    <input #inputElement fxFill
           matInput
           [placeholder]="this.formGroup.get('lastName').value && this.formGroup.get('lastName').value.length !== 0 ? '' : 'Your last name'"
           formControlName="lastName"
           autocomplete="off">
  </mat-form-field>
</form>
