<div class="container">
  <mat-tab-group [@.disabled]="true">
    <mat-tab label="Activity">
      <mat-form-field>
        <input matInput placeholder="Name of activity">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Minimum age">
      </mat-form-field>
      <button mat-button>
        Submit
      </button>
    </mat-tab>
    <mat-tab label="Book">
    </mat-tab>
    <mat-tab label="Video">
    </mat-tab>
    <mat-tab label="Video game">
    </mat-tab>
    <mat-tab label="Toy">
    </mat-tab>
    <mat-tab label="Technology">
    </mat-tab>
  </mat-tab-group>
</div>
