<div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
  <img *ngIf="buildService.build" [matTooltip]="buildService.build.name"
       src="/assets/img/build.svg"
       width="50" height="50"
       [routerLink]="['build/overview']"/>
</div>
<div fxFlex="80" fxLayout="column" fxLayoutAlign="center center">
  <span *ngIf="!buildService.build">NO BUILD SELECTED</span>
  <app-header-level-cmp
    *ngIf="buildService.build"
    [gamification]="buildService.build.gamification">
  </app-header-level-cmp>
</div>
