<mat-card fxFlex class="left-card" [fxHide.lt-lg]="selectedCharacter$ | async">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <app-character-list-filters-cmp></app-character-list-filters-cmp>
    <button mat-icon-button color='primary' (click)="refreshList()" i18n>
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="start start">
    <app-character-list-cmp></app-character-list-cmp>
  </mat-card-content>
</mat-card>
<app-character-show-cmp
  fxFlex fxLayout="column" fxLayoutAlign="space-between none"
  *ngIf="selectedCharacter$ | async"
></app-character-show-cmp>
