<mat-card fxFlex class="left-card">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <app-idea-list-filters-cmp></app-idea-list-filters-cmp>
    <button mat-icon-button color='primary' (click)="refreshList()" i18n>
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="start start">
    <app-idea-list-cmp></app-idea-list-cmp>
  </mat-card-content>
</mat-card>
<app-idea-show-cmp
  fxFlex fxLayout="column" fxLayoutAlign="space-between none"
  *ngIf="selectedIdea$ | async"
></app-idea-show-cmp>
