<mat-card fxFlex class="left-card">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <!--<button mat-raised-button color='primary' (click)="toggleFilters()" i18n>idea_index.toggle_filters</button>-->
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="start start">
    <!--<app-idea-create-cmp></app-idea-create-cmp>-->
    <app-idea-list-cmp
      [displayFilters]="displayFilters"
    ></app-idea-list-cmp>
  </mat-card-content>
</mat-card>
<mat-card fxFlex class="right-card" *ngIf="selectedIdea$ | async as selectedIdea">
  <mat-card-header fxLayoutAlign="space-between center">
    <h2>{{ selectedIdea.label }}</h2>
    <button mat-button [matMenuTriggerFor]="menu">
      <img [src]="getCategoryIconByValue(selectedIdea.category)" width="24" height="24"/>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let category of categories" (click)="selectCategory(category.value)">
        <mat-icon><img [src]="category.icon" width="24" height="24"/></mat-icon>
        {{ category.label }}
      </button>
    </mat-menu>
    <button mat-icon-button (click)="selectIdea()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <app-idea-show-cmp
      fxFlex fxLayout="column" fxLayoutAlign="space-between none"
    ></app-idea-show-cmp>
  </mat-card-content>
</mat-card>
