<mat-card fxFlex class="left-card">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <!--<button mat-raised-button color='primary' (click)="toggleFilters()" i18n>idea_index.toggle_filters</button>-->
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="start start">
    <!--<app-idea-create-cmp></app-idea-create-cmp>-->
    <app-idea-list-cmp
      [displayFilters]="displayFilters"
    ></app-idea-list-cmp>
  </mat-card-content>
</mat-card>
<app-idea-show-cmp
  fxFlex fxLayout="column" fxLayoutAlign="space-between none"
  *ngIf="selectedIdea$ | async"
></app-idea-show-cmp>
