<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1 i18n>child_index.title</h1>
    <button mat-button [routerLink]="['/child/create']">
      <mat-icon>add_circle</mat-icon>
      <span i18n>child_index.child_create</span>
    </button>
  </div>
  <div fxLayout="column">
    <mat-card *ngFor="let child of children">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <a href="javascript:;" (click)="selectChild(child)" fxLayout="row" fxLayoutAlign="start center">
            <img src="https://www.shareicon.net/download/2016/12/19/863781_favorites_512x512.png" width="50" height="50"/>
            {{ child.nickname }}
          </a>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button class="edit" mat-icon-button color="primary" [routerLink]="['/child/update/' + child.id]">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button class="delete" mat-icon-button color="warn" [routerLink]="['/child/delete/' + child.id]">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-title>
    </mat-card>
  </div>
</div>
