<div *ngIf="world$ | async as world">
  <mat-card fxFlex class="left-card">
    <mat-card-header>
      <form [formGroup]="formGroup">
        <mat-form-field fxFill appearance="none">
          <input #inputElement fxFill
                matInput
                formControlName="label"
                (keyup.backspace)="onKey($event)"
                autocomplete="off">
        </mat-form-field>
      </form>
    </mat-card-header>
    <mat-card-content>
      <div id="list-2" cdkDropList cdkDropListConnectedTo="list-1" (cdkDropListDropped)="drop($event)">
        <ng-container *ngIf="world && world.ideas">
          <app-idea-item-cmp
            *ngFor="let idea of world.ideas"
            [idea]="idea"
          ></app-idea-item-cmp>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex class="right-card" fxLayout="column" fxLayoutAlign="space-between none">
    <mat-card-header fxLayout="row" fxLayoutAlign="start center">
      <app-idea-list-filters-cmp></app-idea-list-filters-cmp>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="start start">
      <app-idea-list-cmp></app-idea-list-cmp>
    </mat-card-content>
  </mat-card>
</div>
