<mat-toolbar>
  <button mat-icon-button [routerLink]="['/child']">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</mat-toolbar>
<form #childForm="ngForm" class="container">
  <mat-card>
    <mat-card-title fxLayout="row">
      Add your child information
    </mat-card-title>
    <mat-card-content fxLayout="column">
      <div fxLayout="row">
        <mat-form-field>
          <input matInput placeholder="First name"
                 [(ngModel)]="child.firstname" name="firstname">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Middle names"
                 [(ngModel)]="child.middlename" name="middlename">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last name"
                 [(ngModel)]="child.lastname" name="lastname">
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field>
          <input matInput placeholder="Nickname"
                 [(ngModel)]="child.nickname" name="nickname">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Birthdate"
                 [(ngModel)]="child.birthdate" name="birthdate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Gender"
                      [(ngModel)]="child.gender" name="gender">
            <mat-option value="0">Girl</mat-option>
            <mat-option value="1">Boy</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-button type="submit" (click)="submit()">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
